# ğŸ’™SCUBA'S FIRST DATA ANALYSISğŸ’™

In [82]:
import pandas as pd
import numpy as np
import matplotlib as plt

# ğŸ“Œ ë°ì´í„° ì •ë³´

#### ì „êµ­ í‰ê·  ë¶„ì–‘ê°€ê²©(2013ë…„ 9ì›”ë¶€í„° 2015ë…„ 8ì›”ê¹Œì§€)
* ì „êµ­ ê³µë™ì£¼íƒì˜ `3.3ì œê³±ë¯¸í„°`ë‹¹ í‰ê· ë¶„ì–‘ê°€ê²© ë°ì´í„°ë¥¼ ì œê³µ

#### ì£¼íƒë„ì‹œë³´ì¦ê³µì‚¬_ì „êµ­ í‰ê·  ë¶„ì–‘ê°€ê²©(2019ë…„ 12ì›”)
* ì „êµ­ ê³µë™ì£¼íƒì˜ ì—°ë„ë³„, ì›”ë³„, ì „ìš©ë©´ì ë³„ `ì œê³±ë¯¸í„°`ë‹¹ í‰ê· ë¶„ì–‘ê°€ê²© ë°ì´í„°ë¥¼ ì œê³µ
* ì§€ì—­ë³„ í‰ê· ê°’ì€ ë‹¨ìˆœ ì‚°ìˆ í‰ê· ê°’ì´ ì•„ë‹Œ ê°€ì¤‘í‰ê· ê°’ì„

# ğŸ“Œ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [20]:
!ls

jupyter basic.ipynb
practice1_inflearn.ipynb
ìƒê°€ì—…ì†Œì •ë³´_201912_01.csv
ì „êµ­ í‰ê·  ë¶„ì–‘ê°€ê²©(2013ë…„ 9ì›”ë¶€í„° 2015ë…„ 8ì›”ê¹Œì§€).csv
ì£¼íƒë„ì‹œë³´ì¦ê³µì‚¬_ì „êµ­ í‰ê·  ë¶„ì–‘ê°€ê²©(2019ë…„ 12ì›”).csv

In [21]:
import os
for dirname, _, filenames in os.walk('./'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./jupyter basic.ipynb
./practice1_inflearn.ipynb
./ìƒê°€ì—…ì†Œì •ë³´_201912_01.csv
./ì „êµ­ í‰ê·  ë¶„ì–‘ê°€ê²©(2013ë…„ 9ì›”ë¶€í„° 2015ë…„ 8ì›”ê¹Œì§€).csv
./ì£¼íƒë„ì‹œë³´ì¦ê³µì‚¬_ì „êµ­ í‰ê·  ë¶„ì–‘ê°€ê²©(2019ë…„ 12ì›”).csv
./.ipynb_checkpoints/jupyter basic-checkpoint.ipynb
./.ipynb_checkpoints/practice1_inflearn-checkpoint.ipynb
./.git/config
./.git/HEAD
./.git/description
./.git/info/exclude
./.git/hooks/commit-msg.sample
./.git/hooks/pre-rebase.sample
./.git/hooks/pre-commit.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/fsmonitor-watchman.sample
./.git/hooks/pre-receive.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/post-update.sample
./.git/hooks/pre-merge-commit.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/pre-push.sample
./.git/hooks/update.sample

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [23]:
df_first = pd.read_csv("./ì „êµ­ í‰ê·  ë¶„ì–‘ê°€ê²©(2013ë…„ 9ì›”ë¶€í„° 2015ë…„ 8ì›”ê¹Œì§€).csv", engine = "python", encoding="cp949")

In [24]:
df_first.head()

,ì§€ì—­,2013ë…„12ì›”,2014ë…„1ì›”,2014ë…„2ì›”,2014ë…„3ì›”,2014ë…„4ì›”,2014ë…„5ì›”,2014ë…„6ì›”,2014ë…„7ì›”,2014ë…„8ì›”,...,2014ë…„11ì›”,2014ë…„12ì›”,2015ë…„1ì›”,2015ë…„2ì›”,2015ë…„3ì›”,2015ë…„4ì›”,2015ë…„5ì›”,2015ë…„6ì›”,2015ë…„7ì›”,2015ë…„8ì›”
0,ì„œìš¸,18189,17925,17925,18016,18098,19446,18867,18742,19274,...,20242,20269,20670,20670,19415,18842,18367,18374,18152,18443
1,ë¶€ì‚°,8111,8111,9078,8965,9402,9501,9453,9457,9411,...,9208,9208,9204,9235,9279,9327,9345,9515,9559,9581
2,ëŒ€êµ¬,8080,8080,8077,8101,8267,8274,8360,8360,8370,...,8439,8253,8327,8416,8441,8446,8568,8542,8542,8795
3,ì¸ì²œ,10204,10204,10408,10408,10000,9844,10058,9974,9973,...,10020,10020,10017,9876,9876,9938,10551,10443,10443,10449
4,ê´‘ì£¼,6098,7326,7611,7346,7346,7523,7659,7612,7622,...,7752,7748,7752,7756,7861,7914,7877,7881,8089,8231

In [25]:
df_last = pd.read_csv("./ì£¼íƒë„ì‹œë³´ì¦ê³µì‚¬_ì „êµ­ í‰ê·  ë¶„ì–‘ê°€ê²©(2019ë…„ 12ì›”).csv", engine = "python", encoding = "cp949")

In [26]:
df_last.head()

  ì§€ì—­ëª…               ê·œëª¨êµ¬ë¶„    ì—°ë„   ì›” ë¶„ì–‘ê°€ê²©(ã¡)
0  ì„œìš¸                 ì „ì²´  2015  10    5841
1  ì„œìš¸         ì „ìš©ë©´ì  60ã¡ì´í•˜  2015  10    5652
2  ì„œìš¸   ì „ìš©ë©´ì  60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  10    5882
3  ì„œìš¸  ì „ìš©ë©´ì  85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  10    5721
4  ì„œìš¸        ì „ìš©ë©´ì  102ã¡ì´ˆê³¼  2015  10    5879

In [27]:
df_last.tail()

     ì§€ì—­ëª…               ê·œëª¨êµ¬ë¶„    ì—°ë„   ì›” ë¶„ì–‘ê°€ê²©(ã¡)
4330  ì œì£¼                 ì „ì²´  2019  12    3882
4331  ì œì£¼         ì „ìš©ë©´ì  60ã¡ì´í•˜  2019  12     NaN
4332  ì œì£¼   ì „ìš©ë©´ì  60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2019  12    3898
4333  ì œì£¼  ì „ìš©ë©´ì  85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2019  12     NaN
4334  ì œì£¼        ì „ìš©ë©´ì  102ã¡ì´ˆê³¼  2019  12    3601

# ğŸ“Œ ë°ì´í„° ìš”ì•½í•˜ê¸°

In [29]:
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ì§€ì—­ëª…      4335 non-null   object
 1   ê·œëª¨êµ¬ë¶„     4335 non-null   object
 2   ì—°ë„       4335 non-null   int64
 3   ì›”        4335 non-null   int64
 4   ë¶„ì–‘ê°€ê²©(ã¡)  4058 non-null   object
dtypes: int64(2), object(3)
memory usage: 169.5+ KB

# ğŸ“Œ ê²°ì¸¡ì¹˜ ë³´ê¸°

In [31]:
True ==1

True

In [32]:
False == 0

True

In [35]:
df_last.isnull()

        ì§€ì—­ëª…   ê·œëª¨êµ¬ë¶„     ì—°ë„      ì›”  ë¶„ì–‘ê°€ê²©(ã¡)
0     False  False  False  False    False
1     False  False  False  False    False
2     False  False  False  False    False
3     False  False  False  False    False
4     False  False  False  False    False
...     ...    ...    ...    ...      ...
4330  False  False  False  False    False
4331  False  False  False  False     True
4332  False  False  False  False    False
4333  False  False  False  False     True
4334  False  False  False  False    False

[4335 rows x 5 columns]

In [34]:
df_last.isnull().sum()

ì§€ì—­ëª…          0
ê·œëª¨êµ¬ë¶„         0
ì—°ë„           0
ì›”            0
ë¶„ì–‘ê°€ê²©(ã¡)    277
dtype: int64

# ğŸ“Œ ë°ì´í„° ì „ì²˜ë¦¬ ê³¼ì •

## 1) ë°ì´í„° íƒ€ì… ë³€ê²½

In [37]:
df_last["ë¶„ì–‘ê°€ê²©(ã¡)"]

0       5841
1       5652
2       5882
3       5721
4       5879
        ...
4330    3882
4331     NaN
4332    3898
4333     NaN
4334    3601
Name: ë¶„ì–‘ê°€ê²©(ã¡), Length: 4335, dtype: object

### ğŸ”‘ ë¶„ì–‘ê°€ê²©ì˜ ê°’ì´ ìˆ«ìì¸ë°, datatypeì´ objectë¡œ ë˜ì–´ ìˆì–´ì„œ, ì¶”í›„ ê³„ì‚°ì˜ ìš©ì´ì„±ì„ ìœ„í•´ ìˆ«ì ë°ì´í„°ë¡œ ë°”ê¿”ì¤„ í•„ìš”ê°€ ìˆë‹¤.

In [40]:
pd.to_numeric(df_last["ë¶„ì–‘ê°€ê²©(ã¡)"], errors='coerce')

0       5841.0
1       5652.0
2       5882.0
3       5721.0
4       5879.0
         ...
4330    3882.0
4331       NaN
4332    3898.0
4333       NaN
4334    3601.0
Name: ë¶„ì–‘ê°€ê²©(ã¡), Length: 4335, dtype: float64

In [42]:
type(pd.np.nan)

float

In [43]:
df_last["ë¶„ì–‘ê°€ê²©"]=pd.to_numeric(df_last["ë¶„ì–‘ê°€ê²©(ã¡)"], errors='coerce')

In [47]:
df_last["ë¶„ì–‘ê°€ê²©"]

0       5841.0
1       5652.0
2       5882.0
3       5721.0
4       5879.0
         ...
4330    3882.0
4331       NaN
4332    3898.0
4333       NaN
4334    3601.0
Name: ë¶„ì–‘ê°€ê²©, Length: 4335, dtype: float64

In [49]:
df_last["ë¶„ì–‘ê°€ê²©"].mean()

3238.128632802628

## 2) í‰ë‹¹ ë¶„ì–‘ê°€ê²© êµ¬í•˜ê¸°

In [61]:
df_first.head(1)

,ì§€ì—­,2013ë…„12ì›”,2014ë…„1ì›”,2014ë…„2ì›”,2014ë…„3ì›”,2014ë…„4ì›”,2014ë…„5ì›”,2014ë…„6ì›”,2014ë…„7ì›”,2014ë…„8ì›”,...,2014ë…„11ì›”,2014ë…„12ì›”,2015ë…„1ì›”,2015ë…„2ì›”,2015ë…„3ì›”,2015ë…„4ì›”,2015ë…„5ì›”,2015ë…„6ì›”,2015ë…„7ì›”,2015ë…„8ì›”
0,ì„œìš¸,18189,17925,17925,18016,18098,19446,18867,18742,19274,...,20242,20269,20670,20670,19415,18842,18367,18374,18152,18443

In [62]:
df_last["í‰ë‹¹ë¶„ì–‘ê°€ê²©"] = df_last["ë¶„ì–‘ê°€ê²©"] * 3.3

In [58]:
df_last.head(1)

  ì§€ì—­ëª… ê·œëª¨êµ¬ë¶„    ì—°ë„   ì›” ë¶„ì–‘ê°€ê²©(ã¡)    ë¶„ì–‘ê°€ê²©   í‰ë‹¹ë¶„ì–‘ê°€ê²©
0  ì„œìš¸   ì „ì²´  2015  10    5841  5841.0  19275.3

## 3) ë¶„ì–‘ê°€ê²© ìš”ì•½í•˜ê¸°

In [59]:
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ì§€ì—­ëª…      4335 non-null   object
 1   ê·œëª¨êµ¬ë¶„     4335 non-null   object
 2   ì—°ë„       4335 non-null   int64
 3   ì›”        4335 non-null   int64
 4   ë¶„ì–‘ê°€ê²©(ã¡)  4058 non-null   object
 5   ë¶„ì–‘ê°€ê²©     3957 non-null   float64
 6   í‰ë‹¹ë¶„ì–‘ê°€ê²©   3957 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 237.2+ KB

In [67]:
df_last['ë¶„ì–‘ê°€ê²©(ã¡)'].describe()

count     4058
unique    1753
top       2221
freq        17
Name: ë¶„ì–‘ê°€ê²©(ã¡), dtype: object

### ğŸ”‘ Countì˜ ì°¨ì´ 
* ê³µë°±ê°’(ê²°ì¸¡ì¹˜)ë„ ì¹´ìš´íŠ¸í•˜ê¸° ë•Œë¬¸ì—, ìœ„ì™€ ì•„ë˜ì˜ ë°ì´í„° ì¹´ìš´íŠ¸ê°’ì´ ë‹¬ë¼ì¡Œë‹¤.

### ğŸ”‘ ë°ì´í„° íƒ€ì… = objectì¼ë•Œ ë‹¤ìŒê³¼ ê°™ì´ ë°ì´í„°ì˜ ìš”ì•½ì„ ì´í•´í•œë‹¤.
* Uique -> string dataì—ì„œ ìœ ë‹ˆí¬í•œ ë°ì´í„°ê°€ ëª‡ ê°œê°€ ìˆëŠ”ì§€ ì•Œ ìˆ˜ ìˆë‹¤.
* top -> ê°€ì¥ ë¹ˆë²ˆí•˜ê³  ìˆëŠ” ë°ì´í„°(ë¬¸ì)
* freqeuncy -> ê°€ì¥ ë¹ˆë²ˆí•˜ê²Œ ë“±ì¥í•˜ëŠ” ë°ì´í„°(ë¬¸ì)ê°€ ëª‡ ë²ˆ ë“±ì¥í•˜ëŠ”ì§€

In [68]:
df_last['ë¶„ì–‘ê°€ê²©'].describe()

count     3957.000000
mean      3238.128633
std       1264.309933
min       1868.000000
25%       2441.000000
50%       2874.000000
75%       3561.000000
max      12728.000000
Name: ë¶„ì–‘ê°€ê²©, dtype: float64

### ğŸ”‘ ë°ì´í„° íƒ€ì… = float64ì¼ë•Œ, ë‹¤ìŒê³¼ ê°™ì´ ë°ì´í„°ì˜ ìš”ì•½ì„ ì´í•´í•œë‹¤. 
* 64ëŠ” ê¸¸ì´ë¥¼ ë‚˜íƒ€ë‚¸ë‹¤.
* mean = í‰ê· ê°’
* std = í‘œì¤€í¸ì°¨
* min = ìµœì†Ÿê°’
* 25% = 1ì‚¬ë¶„ìœ„ ìˆ˜ 
* 50% = 2ì‚¬ë¶„ìœ„ ìˆ˜, ì¤‘ì•™ê°’, Medianê°’
* 75% = 3ì‚¬ë¶„ìœ„ ìˆ˜
* max = ìµœëŒ“ê°’

`describeí•´ì„œ ì£¼ì˜í•´ì„œ ë´ì•¼í•  ê²ƒ`
* mean (í‰ê· ê°’)ê³¼ 50% (ì¤‘ì•™ê°’, median)ê°’ì´ ì–¼ë§ˆë‚˜ ì°¨ì´ê°€ ë‚˜ëŠ”ì§€ë¥¼ í™•ì¸í•œë‹¤. maxë¥¼ ë³´ë©´, ìµœëŒ“ê°’ ë•Œë¬¸ì— í‰ê· ê°’ì´ ë” ë†’ê²Œ ë‚˜íƒ€ë‚œë‹¤ ë¼ëŠ” ê²ƒì„ ìœ„ ë°ì´í„°ì—ì„œëŠ” í™•ì¸í•  ìˆ˜ ìˆë‹¤.

## 4) ê·œëª¨ êµ¬ë¶„ì„ ì „ìš©ë©´ì  ì»¬ëŸ¼ìœ¼ë¡œ ë³€ê²½

In [73]:
df_last

     ì§€ì—­ëª…               ê·œëª¨êµ¬ë¶„    ì—°ë„   ì›” ë¶„ì–‘ê°€ê²©(ã¡)    ë¶„ì–‘ê°€ê²©   í‰ë‹¹ë¶„ì–‘ê°€ê²©
0     ì„œìš¸                 ì „ì²´  2015  10    5841  5841.0  19275.3
1     ì„œìš¸         ì „ìš©ë©´ì  60ã¡ì´í•˜  2015  10    5652  5652.0  18651.6
2     ì„œìš¸   ì „ìš©ë©´ì  60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  10    5882  5882.0  19410.6
3     ì„œìš¸  ì „ìš©ë©´ì  85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  10    5721  5721.0  18879.3
4     ì„œìš¸        ì „ìš©ë©´ì  102ã¡ì´ˆê³¼  2015  10    5879  5879.0  19400.7
...   ..                ...   ...  ..     ...     ...      ...
4330  ì œì£¼                 ì „ì²´  2019  12    3882  3882.0  12810.6
4331  ì œì£¼         ì „ìš©ë©´ì  60ã¡ì´í•˜  2019  12     NaN     NaN      NaN
4332  ì œì£¼   ì „ìš©ë©´ì  60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2019  12    3898  3898.0  12863.4
4333  ì œì£¼  ì „ìš©ë©´ì  85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2019  12     NaN     NaN      NaN
4334  ì œì£¼        ì „ìš©ë©´ì  102ã¡ì´ˆê³¼  2019  12    3601  3601.0  11883.3

[4335 rows x 7 columns]

In [72]:
df_last["ê·œëª¨êµ¬ë¶„"].unique()

array(['ì „ì²´', 'ì „ìš©ë©´ì  60ã¡ì´í•˜', 'ì „ìš©ë©´ì  60ã¡ì´ˆê³¼ 85ã¡ì´í•˜', 'ì „ìš©ë©´ì  85ã¡ì´ˆê³¼ 102ã¡ì´í•˜',
       'ì „ìš©ë©´ì  102ã¡ì´ˆê³¼'], dtype=object)

### ğŸ”‘ ë°ì´í„° í…ìŠ¤íŠ¸ ë³€ê²½
* str.replace()ë¥¼ ì´ìš©í•´ ê¸€ìë¥¼ ë³€ê²½í•˜ê³ ,.strip()ì„ ì´ìš©í•´ ì•ë’¤ ì—¬ë°±ì„ ì œê±°í•œë‹¤.

In [95]:
df_last["ì „ìš©ë©´ì "] = df_last["ê·œëª¨êµ¬ë¶„"].str.replace("ì „ìš©ë©´ì ", "")
df_last["ì „ìš©ë©´ì "] = df_last["ì „ìš©ë©´ì "].str.replace("ì´ˆê³¼","~")
df_last["ì „ìš©ë©´ì "] = df_last["ì „ìš©ë©´ì "].str.replace("ì´í•˜","")
df_last["ì „ìš©ë©´ì "] = df_last["ì „ìš©ë©´ì "].str.replace(" ","").str.strip()

In [106]:
df_last["ì „ìš©ë©´ì "]

0             ì „ì²´
1            60ã¡
2        60ã¡~85ã¡
3       85ã¡~102ã¡
4          102ã¡~
          ...
4330          ì „ì²´
4331         60ã¡
4332     60ã¡~85ã¡
4333    85ã¡~102ã¡
4334       102ã¡~
Name: ì „ìš©ë©´ì , Length: 4335, dtype: object

In [107]:
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ì§€ì—­ëª…      4335 non-null   object
 1   ê·œëª¨êµ¬ë¶„     4335 non-null   object
 2   ì—°ë„       4335 non-null   int64
 3   ì›”        4335 non-null   int64
 4   ë¶„ì–‘ê°€ê²©(ã¡)  4058 non-null   object
 5   ë¶„ì–‘ê°€ê²©     3957 non-null   float64
 6   í‰ë‹¹ë¶„ì–‘ê°€ê²©   3957 non-null   float64
 7   ì „ìš©ë©´ì      4335 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 271.1+ KB

In [110]:
df_last = df_last.drop(['ê·œëª¨êµ¬ë¶„', 'ë¶„ì–‘ê°€ê²©(ã¡)'], axis=1)

### ğŸ”‘ ë°ì´í„° ë“œë¡­í•˜ê¸° 

* .dropì„ ì´ìš©í•´ í–‰/ì—´ì„ ì œê±°í•œë‹¤.
* axis = 0 : í–‰
* axis = 1 : ì—´

In [112]:
df_last

     ì§€ì—­ëª…    ì—°ë„   ì›”    ë¶„ì–‘ê°€ê²©   í‰ë‹¹ë¶„ì–‘ê°€ê²©      ì „ìš©ë©´ì
0     ì„œìš¸  2015  10  5841.0  19275.3        ì „ì²´
1     ì„œìš¸  2015  10  5652.0  18651.6       60ã¡
2     ì„œìš¸  2015  10  5882.0  19410.6   60ã¡~85ã¡
3     ì„œìš¸  2015  10  5721.0  18879.3  85ã¡~102ã¡
4     ì„œìš¸  2015  10  5879.0  19400.7     102ã¡~
...   ..   ...  ..     ...      ...       ...
4330  ì œì£¼  2019  12  3882.0  12810.6        ì „ì²´
4331  ì œì£¼  2019  12     NaN      NaN       60ã¡
4332  ì œì£¼  2019  12  3898.0  12863.4   60ã¡~85ã¡
4333  ì œì£¼  2019  12     NaN      NaN  85ã¡~102ã¡
4334  ì œì£¼  2019  12  3601.0  11883.3     102ã¡~

[4335 rows x 6 columns]

In [111]:
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì§€ì—­ëª…     4335 non-null   object
 1   ì—°ë„      4335 non-null   int64
 2   ì›”       4335 non-null   int64
 3   ë¶„ì–‘ê°€ê²©    3957 non-null   float64
 4   í‰ë‹¹ë¶„ì–‘ê°€ê²©  3957 non-null   float64
 5   ì „ìš©ë©´ì     4335 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 203.3+ KB

### ğŸ”‘ ë°ì´í„° ë“œë¡­ í›„ ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ ë¹„êµí•´ë³´ê¸°

* ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ì´ 271.1 + KB ì—ì„œ 203.3 + KBë¡œ ì¤„ì–´ë“¤ì—ˆë‹¤. columnsë¥¼ ì ë‹¹íˆ ì˜ í†µí•©/ë³€ê²½í•˜ì—¬ ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ì„ íš¨ê³¼ì ìœ¼ë¡œ ì¤„ì¼ ìˆ˜ ìˆë‹¤ëŠ” ê²ƒì„ ì•Œ ìˆ˜ ìˆë‹¤.

In [113]:
df_last.head()

  ì§€ì—­ëª…    ì—°ë„   ì›”    ë¶„ì–‘ê°€ê²©   í‰ë‹¹ë¶„ì–‘ê°€ê²©      ì „ìš©ë©´ì
0  ì„œìš¸  2015  10  5841.0  19275.3        ì „ì²´
1  ì„œìš¸  2015  10  5652.0  18651.6       60ã¡
2  ì„œìš¸  2015  10  5882.0  19410.6   60ã¡~85ã¡
3  ì„œìš¸  2015  10  5721.0  18879.3  85ã¡~102ã¡
4  ì„œìš¸  2015  10  5879.0  19400.7     102ã¡~

# ğŸ“Œ groupby ë¡œ ë°ì´í„° ì§‘ê³„í•˜ê¸°

### ğŸ”‘ 1) ê·¸ë£¹í™” í•  colunm ì¤‘ indexë¡œ ì‚¬ìš©í•  column, ê³„ì‚°í•  columnê°’, ì‹¤í–‰í•  ì—°ì‚° ìˆœìœ¼ë¡œ ì¨ì¤€ë‹¤.

#### `df.groupby(["index ì»¬ëŸ¼ê°’"])["ê³„ì‚°í•  ì»¬ëŸ¼ê°’"].ì‹¤í–‰í• ì—°ì‚°()`

In [122]:
df_last.groupby(["ì§€ì—­ëª…"])['í‰ë‹¹ë¶„ì–‘ê°€ê²©'].mean()

ì§€ì—­ëª…
ê°•ì›     7890.750000
ê²½ê¸°    13356.895200
ê²½ë‚¨     9268.778138
ê²½ë¶     8376.536515
ê´‘ì£¼     9951.535821
ëŒ€êµ¬    11980.895455
ëŒ€ì „    10253.333333
ë¶€ì‚°    12087.121200
ì„œìš¸    23599.976400
ì„¸ì¢…     9796.516456
ìš¸ì‚°    10014.902013
ì¸ì²œ    11915.320732
ì „ë‚¨     7565.316532
ì „ë¶     7724.235484
ì œì£¼    11241.276712
ì¶©ë‚¨     8233.651883
ì¶©ë¶     7634.655600
Name: í‰ë‹¹ë¶„ì–‘ê°€ê²©, dtype: float64

In [128]:
# ì „ìš©ë©´ì ìœ¼ë¡œ ë¶„ì–‘ê°€ê²©ì˜ í‰ê· ì„ êµ¬í•œë‹¤. 

df_last.groupby(["ì „ìš©ë©´ì "])["ë¶„ì–‘ê°€ê²©"].mean()

ì „ìš©ë©´ì
102ã¡~       3490.213828
60ã¡         3143.981037
60ã¡~85ã¡     3112.436385
85ã¡~102ã¡    3362.908962
ì „ì²´          3113.965517
Name: ë¶„ì–‘ê°€ê²©, dtype: float64

### ğŸ”‘ 2) index ê°’ì„ 2ê°œ ì´ìƒ ë„£ê³  ì‹¶ì„ ë•ŒëŠ” ì•ìª½ ([ ]) ì•ˆì— ì¶”ê°€í•´ì¤€ë‹¤. ë˜, unstack()ì„ ì´ìš©í•´ì„œ, ëì— ìˆëŠ” Index ê°’ì„ ìœ„ì— columnìœ¼ë¡œ ë¹¼ì¤„ ìˆ˜ ìˆë‹¤. 

#### `df.groupby(["index ì»¬ëŸ¼ê°’1, index ì»¬ëŸ¼ê°’2 "])["ê³„ì‚°í•  ì»¬ëŸ¼ ê°’"].ì‹¤í–‰í• ì—°ì‚°().unstack()`

In [131]:
# ì§€ì—­ëª…, ì „ìš©ë©´ì ìœ¼ë¡œ í‰ë‹¹ë¶„ì–‘ê°€ê²©ì˜ í‰ê· ì„ êµ¬í•œë‹¤. 

df_last.groupby(["ì „ìš©ë©´ì ","ì§€ì—­ëª…"])["í‰ë‹¹ë¶„ì–‘ê°€ê²©"].mean().unstack()

ì§€ì—­ëª…,ê°•ì›,ê²½ê¸°,ê²½ë‚¨,ê²½ë¶,ê´‘ì£¼,ëŒ€êµ¬,ëŒ€ì „,ë¶€ì‚°,ì„œìš¸,ì„¸ì¢…,ìš¸ì‚°,ì¸ì²œ,ì „ë‚¨,ì „ë¶,ì œì£¼,ì¶©ë‚¨,ì¶©ë¶
ì „ìš©ë©´ì,,,,,,,,,,,,,,,,,
102ã¡~,8311.380000,14771.790,10358.363265,9157.302000,11041.532432,13087.338000,14876.871429,13208.250,23446.038,10106.976000,9974.448000,14362.030435,8168.4900,8193.57000,10522.787234,8689.169388,8195.352
60ã¡,7567.098000,13251.744,8689.175000,7883.172000,9430.666667,11992.068000,9176.475000,11353.782,23212.794,9323.927027,9202.106897,11241.318000,7210.1700,7609.93200,14022.221053,7911.156000,7103.118
60ã¡~85ã¡,7485.588000,12523.566,8618.676000,8061.372000,9910.692000,11778.690000,9711.372000,11864.820,22786.830,9775.458000,10502.531707,11384.406000,7269.2400,7271.35200,10621.314000,7818.954000,7264.488
85ã¡~102ã¡,8749.557143,13677.774,10017.612000,8773.814634,9296.100000,11140.642857,9037.430769,12072.588,25943.874,9847.926000,8861.007692,11527.560000,7908.8625,8275.78125,10709.082353,9120.045000,8391.306
ì „ì²´,7477.536000,12559.602,8658.672000,8078.532000,9903.630000,11771.298000,9786.018000,11936.166,22610.346,9805.422000,10492.712195,11257.026000,7283.5620,7292.60400,10784.994000,7815.324000,7219.014

In [134]:

df_last.groupby(["ì „ìš©ë©´ì ","ì—°ë„","ì§€ì—­ëª…"])["í‰ë‹¹ë¶„ì–‘ê°€ê²©"].mean().unstack().round()

ì§€ì—­ëª…                 ê°•ì›       ê²½ê¸°       ê²½ë‚¨       ê²½ë¶       ê´‘ì£¼       ëŒ€êµ¬       ëŒ€ì „  \
ì „ìš©ë©´ì      ì—°ë„
102ã¡~    2015   7164.0  12379.0   9984.0   7658.0      NaN   8892.0      NaN
         2016   7590.0  13136.0   8911.0   8075.0  11114.0  10550.0  14282.0
         2017   7768.0  13651.0   9237.0   8956.0  10658.0  15087.0  14282.0
         2018   8770.0  15271.0   9737.0   9442.0   8622.0  12846.0  16094.0
         2019   9359.0  17535.0  13840.0  10514.0  14209.0  15082.0  15066.0
60ã¡      2015   7557.0  10448.0   7391.0   7251.0   7589.0   9239.0   8530.0
         2016   7044.0  11744.0   7991.0   7213.0   8354.0  10930.0   8736.0
         2017   7089.0  12381.0   8499.0   7900.0   8559.0  11852.0   9253.0
         2018   7693.0  14397.0   9266.0   8264.0   9548.0  12141.0   8282.0
         2019   8406.0  15114.0   9434.0   8315.0  11286.0  13722.0  11493.0
60ã¡~85ã¡  2015   7258.0  10730.0   7652.0   7166.0   8109.0   9320.0   8012.0
         2016   7093.0  11236.0   7849.0   7396.0   8919.0  10372.0   8432.0
         2017   7115.0  11746.0   8072.0   7771.0   9452.0  11463.0   8921.0
         2018   7668.0  13157.0   8940.0   8478.0   9856.0  12079.0  10180.0
         2019   8093.0  14338.0   9810.0   8800.0  11827.0  13789.0  11671.0
85ã¡~102ã¡ 2015   6801.0  11370.0   9684.0   8074.0      NaN   8411.0   8121.0
         2016   6906.0  11089.0   9885.0   8722.0   9134.0   9248.0   8351.0
         2017   7270.0  11897.0  10006.0   9052.0   9442.0  10316.0   9071.0
         2018   9284.0  15281.0   9677.0   8784.0      NaN  11360.0  10121.0
         2019  10673.0  16872.0  10584.0   8765.0      NaN  13963.0      NaN
ì „ì²´       2015   7160.0  10377.0   7586.0   7171.0   8052.0   9232.0   8098.0
         2016   7011.0  11220.0   7848.0   7361.0   8899.0  10310.0   8502.0
         2017   7127.0  11850.0   8120.0   7795.0   9464.0  11456.0   9045.0
         2018   7681.0  13186.0   9019.0   8505.0   9856.0  12076.0  10180.0
         2019   8142.0  14469.0   9871.0   8857.0  11823.0  13852.0  11778.0

ì§€ì—­ëª…                 ë¶€ì‚°       ì„œìš¸       ì„¸ì¢…       ìš¸ì‚°       ì¸ì²œ      ì „ë‚¨      ì „ë¶  \
ì „ìš©ë©´ì      ì—°ë„
102ã¡~    2015  12076.0  20879.0   9012.0   9282.0  11246.0  7308.0  7495.0
         2016  12610.0  21549.0   8827.0   9903.0  12732.0  7335.0  7650.0
         2017  12633.0  22158.0   9121.0  10268.0  14782.0  7549.0  7580.0
         2018  13182.0  23283.0  10475.0      NaN  14840.0  8205.0  8825.0
         2019  14644.0  27329.0  12196.0      NaN  16067.0  9747.0  8842.0
60ã¡      2015   9771.0  20122.0   8520.0   8349.0  11158.0  6597.0  6799.0
         2016   9916.0  21744.0   8878.0   8641.0  10430.0  6632.0  6430.0
         2017  10849.0  21897.0   9156.0   9538.0  10784.0  7202.0  7663.0
         2018  12385.0  23395.0  10111.0      NaN  11510.0  7403.0  8392.0
         2019  12618.0  26478.0  10111.0  10685.0  12225.0  7757.0  8162.0
60ã¡~85ã¡  2015   9975.0  19593.0   8799.0  10050.0  10293.0  6307.0  6710.0
         2016  10214.0  20788.0   8922.0  10239.0  10479.0  6481.0  6440.0
         2017  11651.0  20635.0   9058.0  11378.0  10744.0  7181.0  7040.0
         2018  12926.0  22756.0  10376.0  10241.0  11631.0  7755.0  7559.0
         2019  13123.0  27587.0  10930.0   9941.0  12903.0  7893.0  8168.0
85ã¡~102ã¡ 2015   9758.0  21259.0   8744.0   9105.0  11698.0  7465.0  7844.0
         2016  10548.0  24022.0   8801.0   8788.0  11322.0  7746.0  7596.0
         2017  11093.0  23089.0   9194.0      NaN  11156.0  7745.0  7710.0
         2018  12959.0  23688.0  10328.0      NaN  11139.0  8497.0  8471.0
         2019  14187.0  33909.0  11290.0      NaN  12419.0  7712.0  9293.0
ì „ì²´       2015  10307.0  19725.0   8750.0  10053.0  10484.0  6317.0  6703.0
         2016  10430.0  20663.0   8860.0  10209.0  10532.0  6489.0  6418.0
         2017  11578.0  21376.0   9135.0  11345.0  10737.0  7188.0  7058.0
         2018  12998.0  22889.0  10355.0  10241.0  11274.0  7789.0  7626.0
         2019  13116.0  26131.0  11079.0  10022.0  12635.0  7902.0  8197.0

ì§€ì—­ëª…                 ì œì£¼      ì¶©ë‚¨      ì¶©ë¶
ì „ìš©ë©´ì      ì—°ë„
102ã¡~    2015   8494.0  8089.0  7598.0
         2016   9149.0  8737.0  7457.0
         2017  12945.0  8647.0  8094.0
         2018   9921.0  8380.0  8762.0
         2019  11074.0  9179.0  8610.0
60ã¡      2015      NaN  7544.0  6359.0
         2016  11231.0  7706.0  6618.0
         2017  15750.0  7781.0  7103.0
         2018  16623.0  8056.0  7575.0
         2019  12553.0  8184.0  7302.0
60ã¡~85ã¡  2015   7381.0  7134.0  6672.0
         2016   8961.0  7317.0  6894.0
         2017  10551.0  7473.0  6773.0
         2018  11517.0  8028.0  7877.0
         2019  12261.0  8600.0  7621.0
85ã¡~102ã¡ 2015   8524.0  8568.0  6871.0
         2016   9764.0  8701.0  7927.0
         2017  12922.0  9778.0  8633.0
         2018  10646.0  8768.0  8658.0
         2019  10646.0  9441.0  8748.0
ì „ì²´       2015   7405.0  7115.0  6645.0
         2016   9129.0  7331.0  6770.0
         2017  10831.0  7456.0  6763.0
         2018  11891.0  8013.0  7874.0
         2019  12138.0  8607.0  7575.0

In [143]:
# ë§¨ ëì— .T(.Transpose)ë¥¼ ì´ìš©í•´ index ìˆœì„œë¥¼ ë³€ê²½í•  ìˆ˜ë„ ìˆë‹¤. 
g = df_last.groupby(["ì—°ë„","ì§€ì—­ëª…"])["í‰ë‹¹ë¶„ì–‘ê°€ê²©"].mean()
g.unstack().T

ì—°ë„        2015          2016          2017          2018          2019
ì§€ì—­ëª…
ê°•ì›    7188.060   7162.903846   7273.560000   8219.255000   8934.475000
ê²½ê¸°   11060.940  11684.970000  12304.980000  14258.420000  15665.540000
ê²½ë‚¨    8459.220   8496.730000   8786.760000   9327.670000  10697.615789
ê²½ë¶    7464.160   7753.405000   8280.800000   8680.776923   9050.250000
ê´‘ì£¼    7916.700   9190.683333   9613.977551   9526.953333  12111.675000
ëŒ€êµ¬    9018.900  10282.030000  12206.700000  12139.252632  14081.650000
ëŒ€ì „    8190.600   8910.733333   9957.158491  10234.106667  12619.200000
ë¶€ì‚°   10377.400  10743.535000  11560.680000  12889.965000  13537.865000
ì„œìš¸   20315.680  21753.435000  21831.060000  23202.245000  28286.830000
ì„¸ì¢…    8765.020   8857.805000   9132.505556  10340.463158  11299.394118
ìš¸ì‚°    9367.600   9582.574138  10666.935714  10241.400000  10216.250000
ì¸ì²œ   10976.020  11099.055000  11640.600000  11881.532143  13249.775000
ì „ë‚¨    6798.880   6936.600000   7372.920000   7929.845000   8219.275862
ì „ë¶    7110.400   6906.625000   7398.973585   8174.595000   8532.260000
ì œì£¼    7951.075   9567.480000  12566.730000  11935.968000  11828.469231
ì¶©ë‚¨    7689.880   7958.225000   8198.422222   8201.820000   8748.840000
ì¶©ë¶    6828.800   7133.335000   7473.120000   8149.295000   7970.875000

# ğŸ“Œ pivot tableë¡œ ë°ì´í„° ì§‘ê³„í•˜ê¸°

### ğŸ”‘ ì–´ë–¤ ì ì´ groupby ì–´ë–¤ ê³µí†µì /ì°¨ì´ì ì´ ìˆëŠ”ê°€? 
* `groupbyë¡œ í–ˆë˜ ì‘ì—…ì„ pivot_tableë¡œ ë˜‘ê°™ì´ ì‘ì—…í•  ìˆ˜ ìˆë‹¤.`
* `groupbyëŠ” .unstackì„ ì„¤ì •í•´ì£¼ì§€ ì•ŠëŠ” í•œ, storageí˜•íƒœë¡œ ë°ì´í„°ê°€ ì¶œë ¥ëœë‹¤ë©´, pivot_tableì€ dataframeì˜ í˜•íƒœë¡œ ë°ì´í„°ê°€ ì¶œë ¥ëœë‹¤ëŠ” ì°¨ì´ì ì´ ìˆë‹¤. `

In [142]:
pd.pivot_table(df_last, index=["ì§€ì—­ëª…"], values=["í‰ë‹¹ë¶„ì–‘ê°€ê²©"], aggfunc="sum")

        í‰ë‹¹ë¶„ì–‘ê°€ê²©
ì§€ì—­ëª…
ê°•ì›   1909561.5
ê²½ê¸°   3339223.8
ê²½ë‚¨   2289388.2
ê²½ë¶   2018745.3
ê´‘ì£¼   2000258.7
ëŒ€êµ¬   2899376.7
ëŒ€ì „   2030160.0
ë¶€ì‚°   3021780.3
ì„œìš¸   5899994.1
ì„¸ì¢…   2321774.4
ìš¸ì‚°   1492220.4
ì¸ì²œ   2931168.9
ì „ë‚¨   1876198.5
ì „ë¶   1915610.4
ì œì£¼   2461839.6
ì¶©ë‚¨   1967842.8
ì¶©ë¶   1908663.9